<template>
  <main>
    <teleport to="head">
      <title>Greeting Page</title>
    </teleport>
    <h1>Hello {{ name }}</h1>
    <p>This is the Greeting Page</p>
  </main>
</template>


<script setup>
import { ref } from 'vue'
import axios from 'axios'

const name = ref( '' )


// get data from a specific route on the backend
async function getResponse ()
{
  const path = 'http://localhost:5000/greeting'
  try {
    let res = await axios.get( path )
    name.value = res.data
  }
  catch ( err ) {
    console.error( err )
  }
}
getResponse()
</script>