<template>
  <main>
    <!-- Can't figure out vue-meta for vue3 yet, using teleport in the meantime, if done with SSR this shouldn't cause a performance issue -->

    <teleport to="head">
      <title>Home Page</title>
    </teleport>
    <h1>Home View</h1>
  </main>
</template>
<script setup>

</script>
