<template>
  <main>
    <teleport to="head">
      <title>The Ping Test</title>
    </teleport>
    <h1>{{ msg }}</h1>
  </main>
</template>

<script setup>
import { ref } from 'vue'
import axios from 'axios'


const msg = ref( '' )

async function getResponse ()
{
  // path to flask
  const path = 'http://localhost:5000/ping'
  // get response
  try {
    let res = await axios.get( path )
    msg.value = res.data
  }
  catch ( err ) {
    console.error( err )
  }
}

getResponse()
</script>