<template>
  <nav>
    <router-link to="/">Home</router-link>
    <router-link to="/ping">Ping</router-link>
    <router-link to="/greeting">Greeting</router-link>
  </nav>
</template>
<style>
nav {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}
</style>